<!DOCTYPE html>
<html>
  <head>
    <title>Smartmark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  </head>

  <script type='text/javascript'>window.avatar="<%=image_url('default_avatar.jpg')%>"  </script>
  <body>
    <%= yield %>
  </body>
</html>
